<div class="d-flex justify-content-center my-5">
  <strong>本当に退会しますか？</strong>
</div>

<div class="d-flex justify-content-center mb-2">
  <p class="text-center">
  退会すると、ユーザ情報登録や<br>
  これまでの投稿内容も削除されます。<br>
  退会する場合は,「退会する」をクリックしてください。
  </p>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "退会しない", user_path(@user.id), method: :get, class: 'glyphicon glyphicon-home btn btn-primary' %>
   <% if user_signed_in? && @user == current_user %>
    <% unless @user.email == "guest@example.com" then %>
  <%= link_to "退会する", out_users_path, method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger ml-3" %>
  <% end %>
  <% end %>
</div>