<div class="container-field">
 <div class="row">
     
     
    <div class="col-md-3 border">
     <div class ="myprof">
    <div class="container">
    <div class="row">
    <div class="col"><br><br>
   <h2>製作者紹介</h2><br><br>
   <h4>多田雄哉</h4><br><br>
　<p>1994.06.15生</p><br>
　<p>北海道旭川出身</p><br>
　<p>旭川工業高等専門学校卒業</p><br>
　<p>2022年10月まで半導体関係の仕事をしていました</p><br>
　<p>2022年11月退職後,DWC12月生として</p><br>
　<p>エンジニア転職を目指し勉強中</p><br><br>
　<p>「趣味」</p><br>
　<p>イラスト、食べ歩き（旅行）</p><br>
  <p>料理をすること</p><br>
  <p>「DWCで勉強した内容」</p><br>
  <p>HTML,CSS,Ruby on Rails</p><br>
  <p>JavaScript,Python</p><br>
  </div>
  </div>
  </div>
  </div>
　</div>
     
     
 <div class="col-md-9">
 <div class="container-field">
   <div class="potatoabout">
<div class="container">

   <div class="row-text-center">
       <div class="col"><br><br><br>
   <strong><h1>このサイトはじゃがいもをどのように美味しく食べられるか</h1></strong><br>
   <h1>それらを追求するためのサイトである</h1><br><br><br>
  </div>
  </div>
  </div>
  </div>
  
 <div class = "potefly">
<div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>じゃがいも品種紹介</h2><br>
       <h2>キタアカリ</h2><br>
     <p>サラダ、皮つきで蒸したり、粉ふきとしたり、また、スープなどのそう菜や外食産業にも向くが、煮くずれしやすいので長時間煮込む料理には不適である。</p><br>
     <p>電子レンジ加熱は香りを生かすことができ、煮くずれの心配もないので「キタアカリ」に適した調理法といえる。 貯蔵中の糖の増加が多く、ポテトチップなどの油加工には向かない</p>
  </div>
  </div>
  </div>
  
  <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>男爵芋</h2><br>
     <p>ややつぶれた球形で皮は淡黄色で芽の部分のへこみが深い。 粉質のホクホク味が特徴。</p><br>
     <p>男爵芋は、何といっても塩ゆでにしたイモにバターをつけて食べたり、デンプン質が多いのでポテトサラダ、ベークドポテト、フライドポテトに合うとされている。</p>
  </div>
  </div>
  </div>
  
  
   <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>トヨシロ</h2><br>
     <p>揚げ物に向いているので、フライドポテトにしたり薄くスライスしてチップスにするのがおすすめとされている</p><br>
     <p>新じゃがなら、皮付きのフライドポテトにしてもよいでしょう。 コロッケやマッシュポテト、じゃがバターなどにしてもおいしく食べられるが</p><br>
     <p>煮崩れしやすいので、煮物には不向きとされている</p>
  </div>
  </div>
  </div>
  
  
  
   <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>インカのめざめ</h2><br>
     <p>一般的なじゃがいもの糖度が4～5℃に対してインカのめざめの糖度は 6～8℃と高く、じゃがいもの甘みが際立つ</p><br>
     <p>食感は栗やサツマイモを思わせるホクホク感とバターのようなねっとりした濃厚な口当たりとされている</p><br>
  </div>
  </div>
  </div>
  
  
  <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>ノーザンルビー</h2><br>
     <p>皮も果肉もピンク色であること。 見た目はメークインに似ており、皮の表面には芽のくぼみなどはあまりみられない。</p><br>
     <p>型崩れがしづらいため、フライドポテトや煮物、スープなどがおすすめとされている</p><br>
  </div>
  </div>
  </div>
  </div>
  
  <div class ="poteti">
   <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>キタムラサキ</h2><br>
     <p>キタムラサキは普通のじゃがいもと同様にさまざまな料理に利用できるが</p><br>
     <p>紫色の色素が薄くなったり青っぽくなるため、色を活かした料理に使いたい場合はコツが必要とされている。</p><br>
  </div>
  </div>
  </div>
  
  <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>メークイン</h2><br>
     <p>糖分が収穫直後から他の食用品種より多いが、低温で貯蔵すると甘味と粘質度が特に増すとされている。</p><br>
     <p>煮上がり時間はやや短いが、長時間煮ても煮くずれが少なく、シチュー、カレーライス、おでんなどの煮込み系に向いている。</p><br>
  </div>
  </div>
  </div>
  
   <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>とうや</h2><br>
     <p> デンプン質は男爵に比べてやや低いものの、芽が浅く、丸いのが特徴で、皮向きがしやすく、煮崩れしにくいじゃがいもである。</p><br>
     <p>カレーや肉じゃがなどの煮込み料理や滑らかな舌触りを生かしてサラダに向いているとされている。</p><br>
  </div>
  </div>
  </div>
  
   <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>ホッカイコガネ</h2><br>
     <p> 表面のくぼみが浅く、皮がむきやすいことから歩留まりがよいことも加工向きであるとされている。</p><br>
     <p>油で揚げても褐変しにくいためフライドポテトやポテトチップスなどの調理が向いているとされている。</p><br>
  </div>
  </div>
  </div>
  
  <div class="container">
   <div class="row-text-center">
       <div class="col"><br><br>
       <h2>はるか</h2><br>
     <p> 食味が良く、水煮適性が優れ、サラダおよびコロッケなどの加工用に向いているじゃがいもとされている。</p><br>
  </div>
  </div>
  </div>
  </div>
  </div>
  
   </div>
   </div>
   </div>
  