<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>
<div class="home-potato">

	  <div class="top-text">
		<h1>ようこそ、ぽてますへ！</h1>
		
	  </div>
	 
  
</div>
 
 
