<body class="home-potato">
<div class="container">
  <div class="row">
  
	<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
	  <div class="top-text">
		<h1>ようこそ、ぽてますへ！</h1>
		</p>
	  </div>
	 
 </div>
  
</div>
 </div>
 </body>
