@import '~bootstrap/scss/bootstrap';
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.home-potato { 
    height: 750px;
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: 50%;
}

.top-text {
  font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);
  position:relative;
  top:50% ;
 
}

.mainbord {
    background-color:#FFFFCC ;
}

.potegacha {
text-align:center;
font-weight: 100;
 text-shadow: 0 0 0.20px rgba(0,0,0,1);
 position:relative;
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
 
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
.potatoabout {
	text-align:center;
	line-height:0.95em;
	font-weight:200;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
background-image: url("../images/potatoabout.jpg");
background-size: cover;
background-position: 50%;

}



.myprof {
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.2em rgba(0,0,0,1);
 position:relative;
 top:20px;
background-image: url("../images/my.jpg");
background-size: cover;
background-position: 50%;
}

.potefly {
 font-weight: 100;
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.20px rgba(0,0,0,1);
 position:relative;
 top:20px;
background-image: url("../images/potefly.jpg");
background-size: cover;
background-position: 50%;
}

.poteti {
 font-weight: 100;
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.2em rgba(0,0,0,1);
background-image: url("../images/poteti.jpg");
background-size: cover;
background-position: 40%;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
