@import '~bootstrap/scss/bootstrap';
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.home-potato { 
    height: 750px;
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: 50%;
}

.top-text {
  font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);
  position:relative;
  top:50% ;
 
}

.mainbord {
    background-color:#FFFFCC ;
}

.potegacha {
text-align:center;
font-weight: 100;
 text-shadow: 0 0 0.20px rgba(0,0,0,1);
 position:relative;
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
 
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
.potatoabout {
	text-align:center;
	line-height:0.95em;
	font-weight:200;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
background-image: url("../images/potatoabout.jpg");
background-size: cover;
background-position: 50%;

}



.myprof {
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.2em rgba(0,0,0,1);
 position:relative;
 top:20px;
background-image: url("../images/my.jpg");
background-size: cover;
background-position: 50%;
}

.potefly {
 font-weight: 100;
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.20px rgba(0,0,0,1);
 position:relative;
 top:20px;
background-image: url("../images/potefly.jpg");
background-size: cover;
background-position: 50%;
}

.poteti {
 font-weight: 100;
 text-align:center;
 color: #FFF;
 text-shadow: 0 0 0.2em rgba(0,0,0,1);
background-image: url("../images/poteti.jpg");
background-size: cover;
background-position: 40%;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.new-img{
  width: 300px;
  object-fit: cover;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFCC99;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #FFCC99;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

.btn-solid {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
}

.btn-solid:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}

.btn-radius-gradient-wrap {
  display: inline-block;

  padding: 0.5rem;

  border-radius: 100vh;
  background: #f2f5f6;
  background: -webkit-linear-gradient(
    to top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f2f5f6),
    color-stop(37%, #e3eaed),
    to(#96a1a5)
  );
  background: -webkit-linear-gradient(
    top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#96a1a5', GradientType=0);
}

.btn-radius-gradient {
  border-radius: 100vh;
  background: #e3eaed;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e3eaed),
    to(#f2f5f6)
  );
  background: -webkit-linear-gradient(top, #e3eaed 0%, #f2f5f6 100%);
  background: linear-gradient(to bottom, #e3eaed 0%, #f2f5f6 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eaed', endColorstr='#f2f5f6', GradientType=0);
}

.btn-radius-gradient:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}