<div class="container-fluid border-top bg-white mt-auto">
  <div class="text-center mt-2 h4">
    <%= link_to new_admin_session_path,class: "nav-item btn" do %><i class="fa-regular fa-potato"></i><% end %>
  </div>
 
  <p class="text-center">Potemasu Inc. All Rights reserved.</p>
</div>